@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS styling can be aplied using theme("") or @apply rule */
/* CSS can be applied in @apply rule using using brackets, example: px-[CSS value] */

/* With React, to fix the issue of having a floating footer, you need to handle the styling for #root as well */
html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background-color: theme("colors.shadowesque");
  background-image: url("./images/dim-hou-k_8KygszI9I-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

footer {
  margin-top: auto;
  font-size: large;
}

a {
  position: relative;
  font-weight: bolder;
  color: theme("colors.shadowesque");
  transition: color 0.4s linear, background-color 0.4s linear;
}

a::before {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: theme("colors.shadowesque");
  transition: left 0.2s ease;
}

a:hover {
  color: theme("colors.platinum");
  background-color: theme("colors.shadowesque");
  padding: 0 12px 0 12px;
  @apply text-center;
}

a:hover::before {
  left: 0;
}

a.active {
  color: theme("colors.platinum");
}