@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS theme colors can be accessed using theme("") */

/* With React, to fix the issue of having a floating footer, you need to handle the styling for #root as well */
html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background-color: theme("colors.skybluesque");
  background-image: url("./images/jean-philippe-delberghe-VBPUI5VIvf4-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

footer {
  margin-top: auto;
  font-size: large;
}

a.active {
  color: white;
}
