@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS styling can be aplied using theme("") or @apply rule */
/* CSS can be applied in @apply rule using using brackets, example: px-[CSS value] */

/* With React, to fix the issue of having a floating footer, you need to handle the styling for #root as well */
html,
body,
#root {
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background-color: theme("colors.platinum");
  background-image: radial-gradient(theme("colors.platinum"), theme("colors.shadowesque"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

footer {
  margin-top: auto;
  font-size: large;
}

a {
  font-weight: bolder;
}

a:hover {
  color: theme("colors.primary");
}

a.active {
  color: theme("colors.primary");
}